#nav {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
  }
#nav.shrink {
    height: 80px;
    transition: all ease .5s;
    background: rgb(255, 255, 255); 
  }
  
#nav.shrink #logo {
    transition: all ease .5s;
}
