@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


.imgBack{
    position: relative;
    background-color: #48d15a73;
    background-image:  url("https://lab.eldiario.es/estaticos/close.png");
    background-size: contain;
    height: 470px;
    width: 100%;
}
.BoximgBack{
    position: absolute;
    height: 100px;
    top: 180px;
    left: 13%;
}
.leterTitle{
    font-family: 'Philosopher', sans-serif;
    font-size: 80px;
    color: rgb(255, 255, 255);
}
.leterSub{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.weAre{
    position: relative;
    background-size: contain;
    top: 60px;
    height: 500px;
    width: 100%;
}
.col1{
    padding-left: 80px; 
    position: absolute;
    text-align: initial;
    width: 50%;
    height: 100%;
}
.col2{
    width: 50%;
    height: 100%;
    float: right;
  ;
}
.imgCol2{
    height: 100%;
    width: 100%;
    align-items: center;
}
.divCol1Title{
    font-weight: 700;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(81, 91, 105);
}
.divCol1Sub{
    font-weight: 300;
    font-size:25px;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(137, 145, 159);
}
.divcol1Paragraph{
    font-weight: 300;
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    color:  rgb(81, 91, 105);
}
.client{
  position: relative;
    top: 130px;
    height: 70px;
    width: 100%;
  
}
.textClient{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(81, 91, 105);
    height: 50px;
    background-color: transparent;
}
.MoreVis{
    position: relative;
    top: 400px;
    background-size: contain;
    height: 470px;
    width: 100%;
}
.leterMV{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin: 10px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(81, 91, 105);
}
.MoreVisSoon ul li img{
    align-items: center;
    align-content: center;
    height: 250px;
}
.MoreVisSoon{
    top: 10px;
    align-items: center;
    align-content: center;

}