@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.imgBack{
    position: relative;
    background-color: rgb(255, 252, 58);
    background-image: url('images/backd.jpeg');
    background-size: cover;
    height: 670px;
    width: 100%;
}
.BoximgBack{
    position: absolute;
    height: 500px;
    width: 900px;
    top: 400px;
    left: 10%;
    
}
.leterTitle{
    font-family: 'Philosopher', sans-serif;
    font-size: 100px;
    color: rgb(192, 166, 166);
}
.leterSub{
    color: rgb(192, 166, 166);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}
.weAre{
    position: relative;
    background-size: contain;
    top: 60px;
    height: 500px;
    width: 100%;
}
.col1{
    padding-left: 80px; 
    position: absolute;
    text-align: initial;
    width: 50%;
    height: 100%;
}
.col2{
    width: 50%;
    height: 100%;
    float: right;
  ;
}
.imgCol2{
    height: 100%;
    width: 100%;
    align-items: center;
}
.divCol1Title{
    font-weight: 700;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(81, 91, 105);
}
.divCol1Sub{
    font-weight: 300;
    font-size:25px;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(137, 145, 159);
}
.divcol1Paragraph{
    font-weight: 300;
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    color:  rgb(81, 91, 105);
}
.client{
    position: relative;
    top: 150px;
    height: 50px;
    width: 100%;
}
.pd{
   position: relative;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(62, 66, 73);
    height: 50px;
    top: 250px;
}
.textClient{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(62, 66, 73);
    height: 50px;
    background-color: transparent;
}
.MoreVis{
    position: relative;
    top: 400px;
    background-size: contain;
    height: 470px;
    width: 100%;
}
.leterMV{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin: 10px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(81, 91, 105);
}
.MoreVisSoon ul{
    list-style:none;
    
}
.MoreVisSoon ul li{
    display: inline-block;
}
.MoreVisSoon ul li img{
    position: relative;
    left: 240px;
    height: 250px;
    background-color: rgba(128, 128, 128, 0.438);
}
.MoreVisSoon{
    position: relative;
    top: 10px;
    align-items: center;
    align-content: center;
    background-color: rgba(49, 49, 49, 0.548);
    height: 250px;
    width: 100%;
}

.cuadroblaco2dad{
    top: 350px;
    width: 100%;
    height: 380px;
    position: relative;
    font-size: 100%;
  }
  .cuadroBlanco2{
    float: right;
    background-color: rgba(204, 52, 52, 0.548);
    text-align: center;
    width: 20%;
    height: 380px;
    
}
.cuadroBlanco3{
    float: right;
    background-color: rgba(235, 19, 19, 0.548);
    align-items: center;
    width: 20%;
    height: 380px;
    
}
.cuadroBlanco4{
    float: right;
    background-color: rgba(204, 52, 52, 0.548);
    align-items: center;
    width: 20%;
    height: 380px;
    
}
.cuadroBlanco5{
    float: right;
    background-color: rgba(235, 19, 19, 0.548);
    align-items: center;
    width: 20%;
    height: 380px;  
}
.cuadroTra1{
    float: right;
    background-color:transparent;
    align-items: center;
    width: 10%;
    height: 380px;  
}
.cuadroTra2{
    float: right;
    background-color:transparent;
    align-items: center;
    width: 10%;
    height: 380px;  
}
.imgX{
    height: 100%;
    width: 100%;
}
@media  (max-width: 419px) {
    .BoximgBack {
        left: 2%;
    }
}